absl-py
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
array_record
arrow
asttokens
async-lru
attrs
babel
beautifulsoup4
bleach
blis
catalogue
certifi
cffi
charset-normalizer
click
cloudpathlib
comm
confection
contourpy
cycler
cymem
datasets
debugpy
decorator
defusedxml
dill
dm-tree
docopt
docstring_parser
einops
en_core_web_lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.8.0/en_core_web_lg-3.8.0-py3-none-any.whl#sha256=293e9547a655b25499198ab15a525b05b9407a75f10255e405e8c3854329ab63
etils
executing
fastjsonschema
filelock
fonttools
fqdn
frozenlist
fsspec
googleapis-common-protos
h11
hdfs
hf-xet
httpcore
httpx
huggingface-hub
idna
ImageIO
immutabledict
importlib_resources
ipykernel
ipynb
ipython
ipython_pygments_lexers
isoduration
jedi
Jinja2
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
kiwisolver
langcodes
language_data
lark
marisa-trie
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
mpmath
multidict
multiprocess
murmurhash
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook_shim
numpy
packaging
pandas
pandocfilters
parso
pexpect
pillow
platformdirs
plotly
preshed
prometheus_client
promise
prompt_toolkit
propcache
protobuf
psutil
ptyprocess
pure_eval
pyarrow
pycparser
pydantic
pydantic_core
Pygments
pyparsing
python-dateutil
python-json-logger
pytz
PyYAML
pyzmq
referencing
regex
requests
rfc3339-validator
rfc3986-validator
rfc3987-syntax
rich
rpds-py
safetensors
scikit-learn
scipy
seaborn
Send2Trash
sentence-transformers
setuptools
shellingham
simple-parsing
six
smart_open
sniffio
soupsieve
spacy
spacy-legacy
spacy-loggers
srsly
stack-data
sympy
tensorflow-metadata
termcolor
terminado
thinc
threadpoolctl
tinycss2
tokenizers
toml
torch
tornado
tqdm
traitlets
transformers
typer
typer-slim
typing-inspection
typing_extensions
tzdata
uri-template
urllib3
wasabi
wcwidth
weasel
webcolors
webencodings
websocket-client
wheel
wrapt
xxhash
yarl
zipp
datasets
